<ul class="connected-list connected-list--timeline">
<%- highlights.reverse.each do |highlight| -%>
<li>
<HighlightItem
  authorGithub={<%= (author ? highlight.author_github : nil).to_json %>}
  dateString={<%= highlight.date.to_json %>}
  headingDepth={<%= heading_depth.to_json %>}
  permalink={<%= highlight.permalink.to_json %>}
  prNumbers={<%= highlight.pr_numbers.to_json %>}
  size={<%= size.to_json %>}
  style={<%= style.to_json %>}
  tags={<%= highlight.tags.to_json %>}
  title={<%= highlight.title.to_json %>} />
</li>
<%- end -%>
</ul>
