<ol className="sections sections--h<%= heading_depth %>">
<%- steps.each do |step| -%>
<li>

<%= "#" * heading_depth %> <%= step.title %>

<%- if step.description -%>
<%= step.description %>

<%- end -%>
<%- if step.choices.any? -%>
<Tabs
  block={true}
  select={true}
  placeholder={<%= step.placeholder.to_json %>}
  values={<%= step.choices_list.collect { |choice| {label: choice.title, value: choice.name } }.to_json %>}>

<%- step.choices_list.each do |choice| -%>
<TabItem value={<%= choice.name.to_json %>}>

<%= tutorial_steps(choice.steps, heading_depth: heading_depth + 1) %>

</TabItem>
<%- end -%>

</Tabs>
<%- elsif step.steps.any? -%>
<%= tutorial_steps(step.steps, heading_depth: heading_depth + 1) %>
<%- end -%>

</li>
<%- end -%>
</ol>
