---
title: Install Vector via DPKG
sidebar_label: DPKG
description: Install Vector through the DKG package manager
---

Vector can be installed through the [DPKG package manager][urls.dpkg] which is
generally used on Debian and Ubuntu systems.

<%- downloads = metadata.downloads(package_manager: :dpkg) -%>
<%- download_tabs = downloads.collect { |d| {label: d.arch, value: d.arch} } -%>

import Tabs from '@theme/Tabs';
import TabItem from '@theme/TabItem';

## Install

<Tabs
  block={true}
  defaultValue="<%= download_tabs.first.fetch(:value) %>"
  urlKey="arch"
  values={<%= download_tabs.to_json %>}>

<%- downloads.each do |download| %>
<TabItem value="<%= download.arch %>">
<div className="steps steps--h3">

1.  ### Download the Vector `.deb` package

    <Tabs
      className="mini"
      defaultValue="latest"
      values={[
        { label: 'Latest (<%= metadata.latest_version %>)', value: 'latest'},
        { label: 'Nightly', value: 'nightly'},
      ]}>

    <TabItem value="latest">

    ```bash
    curl --proto '=https' --tlsv1.2 -O <%= metadata.links.fetch("urls.vector_downloads.#{metadata.latest_version.minor_x}/#{download.file_name}") %>
    ```

    </TabItem>
    <TabItem value="nightly">

    ```bash
    curl --proto '=https' --tlsv1.2 -O <%= metadata.links.fetch("urls.vector_downloads.nightly/latest/#{download.file_name}") %>
    ```

    </TabItem>
    </Tabs>

2.  ### Install the downloaded package

    ```bash
    sudo dpkg -i <%= download.file_name %>
    ```

3.  ### Start Vector

    ```bash
    sudo systemctl start vector
    ```

</div>
</TabItem>

<%- end -%>

</Tabs>

That's it! Proceed to [configure](#configuring) Vector for your use case.

### Previous Versions

Historical Vector versions can be found in the [releases][urls.vector_releases].
Once you've found the version you'd like to install you can re-follow the
[install](#install) steps with the URL to the Vector `.deb` file.

## Configuring

The Vector configuration file is placed in:

```text
etc/vector/vector.toml
```

A full spec is located at `/etc/vector/vector.spec.toml` and examples are
located in `/etc/vector/examples/*`. You can learn more about configuring
Vector in the [Configuration][docs.configuration] section.

## Administering

Vector can be managed through the [Systemd][urls.systemd] service manager:

<Jump to="[[[docs.administration]]]">Administration</Jump>

## Uninstalling

```bash
sudo dpkg -r vector
```

## Updating

Follow the [install](#install) steps again, downloading the latest version of
Vector.
