---
title: Install Vector From Source
sidebar_label: From Source
description: Install Vector from the Vector source code
---

This page covers installing Vector from source using the native toolchain for
the host.

Vector can also be compiled to a static binary for Linux for `x86_64`, `ARM64`,
and `ARMv7` architectures. See [compiling using Docker](#compiling-using-docker)
for details.

import Tabs from '@theme/Tabs';
import TabItem from '@theme/TabItem';

<Alert type="warning">

We recommend installing Vector through a supported [platform][docs.platforms],
[package manager][docs.package_managers], or pre-built
[archive][docs.from_archives], if possible. These handle permissions, directory
creation, and other intricacies covered in the [Next Steps](#next-steps)
section.

</Alert>

## Installation

<Tabs
  block={true}
  defaultValue="linux"
  values={[
    { label: 'Linux', value: 'linux'},
    { label: 'Windows', value: 'windows'},
    { label: 'Docker', value: 'docker'},
  ]}>

<TabItem value="linux">

The following steps should be used to compile Vector directly on Linux based systems.

<Steps headingDepth={3}>

1.  ### Install Rust

    ```bash
    curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y --default-toolchain stable
    ```

2.  ### Install compilation dependencies

    Install C and C++ compilers (GCC or Clang) and GNU `make` if they are not
    pre-installed on your system.

3.  ### Download Vector's Source

    <Tabs
      className="mini"
      defaultValue="latest"
      values={[
        { label: 'Latest (<%= metadata.latest_version %>)', value: 'latest'},
        { label: 'Master', value: 'master'},
      ]}>

    <TabItem value="latest">

    ```bash
    mkdir -p vector && \
      curl -sSfL --proto '=https' --tlsv1.2 https://api.github.com/repos/timberio/vector/tarball/v<%= metadata.latest_version.major %>.<%= metadata.latest_version.minor %> | \
      tar xzf - -C vector --strip-components=1
    ```

    </TabItem>
    <TabItem value="master">

    ```bash
    mkdir -p vector && \
      curl -sSfL --proto '=https' --tlsv1.2 https://github.com/timberio/vector/archive/master.tar.gz | \
      tar xzf - -C vector --strip-components=1
    ```

    </TabItem>
    </Tabs>

4.  ### Change into the `vector` directory

    ```bash
    cd vector
    ```

5.  ### Compile Vector

    ```bash
    [FEATURES="<flag1>,<flag2>,..."] make build
    ```

    The `FEATURES` environment variable is optional. You can override the
    default features with this variable. See [feature flags](#feature-flags)
    for more info.

    When finished, the vector binary will be placed in
    `target/<target>/release/vector`. For example, if you are building Vector
    on your Mac, your target triple is `x86_64-apple-darwin`, and the Vector
    binary will be located at `target/x86_64-apple-darwin/release/vector`.

6.  ### Start Vector

    Finally, start vector:

    ```bash
    target/<target>/release/vector --config config/vector.toml
    ```

</Steps>
</TabItem>
<TabItem value="windows">

The steps to compile Vector on Windows are different from the ones for other
operating systems.

<Steps headingDepth={3}>

1. ### Install Rust

   Install Rust using [`rustup`][urls.rustup]. If you don't have VC++ build
   tools, the installer would prompt you to install them.

2. ### Install Perl

   Install [Perl for Windows][urls.perl_windows].

3. ### Add Perl to your `PATH`

   In a Rust/MSVC environment (for example, using
   `x64 Native Tools Command Prompt`) add the binary directory of Perl
   installed on the previous step to `PATH`. For example, for default
   installation of Strawberry Perl it is

    ```bat
    set PATH=%PATH%;C:\Strawberry\perl\bin
    ```

4. ### Get Vector's source using `git`

    <Tabs
      className="mini"
      defaultValue="latest"
      values={[
        { label: 'Latest (<%= metadata.latest_version %>)', value: 'latest'},
        { label: 'Master', value: 'master'},
      ]}>

    <TabItem value="latest">

    ```bat
    git clone https://github.com/timberio/vector
    git checkout v<%= metadata.latest_version %>
    cd vector
    ```

    </TabItem>
    <TabItem value="master">

    ```bat
    git clone https://github.com/timberio/vector
    cd vector
    ```

    </TabItem>
    </Tabs>

5.  ### Build Vector in release mode

    ```bat
    set RUSTFLAGS=-Ctarget-feature=+crt-static
    cargo build --no-default-features --features default-msvc --release
    ```

6.  ### Start Vector

    After these steps a binary `vector.exe` in `target\release` would be
    created. It can be started by running

    ```bat
    .\target\release\vector --config config\vector.toml
    ```

</Steps>
</TabItem>
<TabItem value="docker">

It is possible to build statically linked binaries of Vector for Linux using
Docker.

In this case the dependencies listed in the previous section are not
needed, as all of them would be automatically pulled by Docker.

Building steps:

<Steps headingDepth={3}>

1.  ### Download Vector's Source

    <Tabs
      className="mini"
      defaultValue="latest"
      values={[
        { label: 'Latest (<%= metadata.latest_version %>)', value: 'latest'},
        { label: 'Master', value: 'master'},
      ]}>

    <TabItem value="latest">

    ```bash
    mkdir -p vector && \
      curl -sSfL --proto '=https' --tlsv1.2 https://api.github.com/repos/timberio/vector/tarball/v<%= metadata.latest_version.minor_x %> | \
      tar xzf - -C vector --strip-components=1
    ```

    </TabItem>
    <TabItem value="master">

    ```bash
    mkdir -p vector && \
      curl -sSfL --proto '=https' --tlsv1.2 https://github.com/timberio/vector/archive/master.tar.gz | \
      tar xzf - -C vector --strip-components=1
    ```

    </TabItem>
    </Tabs>

2.  ### Build Vector using Docker

    <Tabs
      defaultValue="x86_64-unknown-linux-musl"
      urlKey="file_name"
      values={
      [{
        "label":"Linux (x86_64)",
        "value":"x86_64-unknown-linux-musl"
      }, {
        "label":"Linux (ARM64)",
        "value":"aarch64-unknown-linux-musl"
      },{
        "label":"Linux (ARMv7)",
        "value":"armv7-unknown-linux-musleabihf"
      }]
      }>

    <TabItem value="x86_64-unknown-linux-musl">

    ```bash
    PASS_FEATURES=default-cmake ./scripts/docker-run.sh builder-x86_64-unknown-linux-musl make build
    ```

    </TabItem>

    <TabItem value="aarch64-unknown-linux-musl">

    ```bash
    PASS_FEATURES=default-cmake ./scripts/docker-run.sh builder-aarch64-unknown-linux-musl make build
    ```

    </TabItem>

    <TabItem value="armv7-unknown-linux-musleabihf">

    ```bash
    PASS_FEATURES=default-cmake ./scripts/docker-run.sh builder-armv7-unknown-linux-musleabihf make build
    ```

    </TabItem>
    </Tabs>

    The command above builds a Docker image with Rust toolchain for a Linux
    target for the corresponding architecture using `musl` as the C library,
    then starts a container from this image, and then builds inside the
    Container. The target binary is located in
    `target/<target triple>/release/vector` like in the previous case.

</Steps>
</TabItem>
</Tabs>

## Next Steps

<%= manual_installation_next_steps(:source) %>

## How It Works

### Feature Flags

The following feature flags are supported via the `FEATURES` env var when
executing `make build`:

```bash
[FEATURES="<flag1>,<flag2>,..."] make build
```

There are three meta-features which can be used when compiling for the
corresponding targets. If no features are specified, then the `default` one is
used.

| Feature        | Description                                                                                                    | Enabled by default                     |
|:---------------|:---------------------------------------------------------------------------------------------------------------|:---------------------------------------|
| `default`      | Default set of features for `*-unknown-linux-gnu` and `*-apple-darwin` targets.                                | <i className="feather icon-check"></i> |
| `default-cmake` | Default set of features for `*-unknown-linux-*` targets which uses `cmake` and `perl` as build dependencies. |                                        |
| `default-msvc` | Default set of features for `*-pc-windows-msvc` targets. Requires `cmake` and `perl` as build dependencies.    |                                        |

Alternatively, for finer control over dependencies and operating system
features, it is possible to use specific features from the list below:

| Feature         | Description                                                                                                                                                                                                                    | Included in `default` feature          |
|:----------------|:-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|:---------------------------------------|
| `unix`          | Enables features that require `cfg(unix)` to be present on the platform, namely support for Unix domain sockets in [docker][docs.sources.docker] source and [jemalloc][urls.jemalloc] instead of the default memory allocator. | <i className="feather icon-check"></i> |
| `vendored`      | Forces vendoring of [OpenSSL][urls.openssl] and [ZLib][urls.zlib] dependencies instead of using their versions installed in the system. Requires `perl` as a build dependency.                                                 | <i className="feather icon-check"></i> |
| `leveldb-plain` | Enables support for [disk buffers][docs.glossary#buffer] using vendored [LevelDB][urls.leveldb].                                                                                                                               | <i className="feather icon-check"></i> |
| `leveldb-cmake` | The same as `leveldb-plain`, but is more portable. Requires `cmake` as a build dependency. Use it in case of compilation issues with `leveldb-plain`.                                                                          |                                        |
| `rdkafka-plain` | Enables vendored [librdkafka][urls.librdkafka] dependency, which is required for [`kafka` source][docs.sources.kafka] and [`kafka` sink][docs.sources.kafka].                                                                 | <i className="feather icon-check"></i> |
| `rdkafka-cmake` | The same as `rdkafka-plain`, but is more portable. Requires `cmake` as a build dependency. Use it in case of compilation issues with `rdkafka-plain`.                                                                          |                                        |

In addition, it is possible to pick only a subset of Vector's components for
the build using feature flags. In order to do it, it instead of `default`
features one has to pass a comma-separated list of component features.

<details><summary>Click to see all supported component features</summary>
<p>

| Name  | Description |
|:------|:------------|
<% metadata.components.each do |component| -%>
| `<%= component.type.pluralize %>-<%= component.name %>` | Enables building of [`<%= component.name %>` <%= component.type %>][docs.<%= component.type.pluralize %>.<%= component.name %>]. <%
if component.name == "kafka" then
-%> Requires `rdkafka-plain` or `rdkafka-cmake` feature to be also enabled. <%
elsif component.name == "docker" then
-%> Requires `unix` feature to be also enabled for support of Unix domain sockets. <%
end -%> |
<% end -%>

</p>
</details>
